<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Payment</title>
    <script src="https://kit.fontawesome.com/4246ac988c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,200" rel="stylesheet" type="text/css">
</head>
<body style="font-family: open sans">
    <center>
        <i class="far fa-check-circle" style="font-size: 150px; color: rgb(130, 255, 130); margin-top: 10%"></i>
        <p style="color: black; font-size: 2rem; margin-top: 5%">Ödemeniz için teşekkürler</p>
        <p style="width: 50%">Ödemeniz onaylanmıştır. Bu sayfayı kapatabilirsiniz.</p>
    </center>
    <div style="color: black; width: 100%; position: absolute; text-align: center; bottom: 100px;">
        <p>InPay by Infinity Corporation, Inc.</p>
    </div>
</body>
</html>